<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="/common/css/base.css" type="text/css"?>
<?xml-stylesheet href="/common/css/layout.css" type="text/css"?>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ev="http://www.w3.org/2001/xml-events"
    xmlns:w2="http://www.inswave.com/websquare" xmlns:xf="http://www.w3.org/2002/xforms">
    <head>
        <w2:buildDate/>
        <xf:model>
            <xf:instance>
                <data xmlns="" />
            </xf:instance>
            <w2:dataCollection>
            	<w2:dataList id="dl_selectMenu" baseNode="" style="" repeatNode="">
            		<w2:columnInfo>
            			<w2:column id="depth" name="depth" dataType="text"></w2:column>
            			<w2:column id="sys_cd" name="시스템_코드" dataType="text"></w2:column>
            			<w2:column id="menu_cd" name="메뉴_코드" dataType="text"></w2:column>
            			<w2:column id="menu_nm" name="메뉴_명" dataType="text"></w2:column>
            			<w2:column id="sort_ord" name="정렬_순서" dataType="text"></w2:column>
            			<w2:column id="hrnk_menu_cd" name="상위_메뉴_코드" dataType="text"></w2:column>
            			<w2:column id="lwrk_menu_exst_yn" name="하위_메뉴_존재_여부" dataType="text"></w2:column>
            			<w2:column id="work_dvs_cd" name="업무_구분_코드" dataType="text"></w2:column>
            			<w2:column id="prgr_cd" name="프로그램_코드" dataType="text"></w2:column>
            			<w2:column id="use_yn" name="사용_여부" dataType="text"></w2:column>
            			<w2:column id="cretr_id" name="생성자_아이디" dataType="text"></w2:column>
            			<w2:column id="cret_dtm" name="생성_일시" dataType="text"></w2:column>
            			<w2:column id="last_updtr_id" name="최종_수정자_아이디" dataType="text"></w2:column>
            			<w2:column id="last_updt_dtm" name="최종_수정_일시" dataType="text"></w2:column>
            		</w2:columnInfo>
            	</w2:dataList>
            	<w2:dataMap baseNode="map" id="dm_searchKeyword" style="">
            		<w2:keyInfo>
            			<w2:key id="sys_cd" name="시스템구분" dataType="text"></w2:key>
            			<w2:key id="menu_nm" name="메뉴명" dataType="text"></w2:key>
            		</w2:keyInfo>
            	</w2:dataMap>
            	<w2:dataList id="dl_systemCode" baseNode="list" style="" repeatNode="map">
            		<w2:columnInfo>
            			<w2:column id="sys_cd" name="시스템코드" dataType="text"></w2:column>
            			<w2:column id="cmmn_cd" name="공통코드" dataType="text"></w2:column>
            			<w2:column id="fnprt_cd" name="세부코드" dataType="text"></w2:column>
            			<w2:column id="fnprt_cd_nm" name="세부코드명" dataType="text"></w2:column>
            			<w2:column id="fnprt_eng_nm" name="세부영문명" dataType="text"></w2:column>
            			<w2:column id="fnprt_all_nm" name="세부전체명" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_1" name="사용자정의컬럼1" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_2" name="사용자정의컬럼2" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_3" name="사용자정의컬럼3" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_4" name="사용자정의컬럼4" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_5" name="사용자정의컬럼5" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_6" name="사용자정의컬럼6" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_7" name="사용자정의컬럼7" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_8" name="사용자정의컬럼8" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_9" name="사용자정의컬럼9" dataType="text"></w2:column>
            			<w2:column id="user_dfn_clmn_10" name="사용자정의컬럼10" dataType="text"></w2:column>
            			<w2:column id="use_yn" name="사용여부" dataType="text"></w2:column>
            			<w2:column id="sort_ord" name="정렬순서" dataType="text"></w2:column>
            		</w2:columnInfo>
            	</w2:dataList>
            </w2:dataCollection>
            <xf:submission id="searchSubmission" ref='data:json,{"id":"dm_searchKeyword","key":"MenuVO"}'
        		target='data:json,[{"id":"dl_selectMenu","key":"infoList"}]' action="/adminfacillity/systemmngt/selectMenu.do"
        		method="post" mediatype="application/json" encoding="UTF-8" mode="asynchronous" processMsg="조회중입니다..." instance="" replace=""
        		errorHandler="" customHandler="">
        		<script type="javascript" ev:event="xforms-submit-done"><![CDATA[
        			txb_Count.setValue( dl_selectMenu.getRowCount());
        		]]></script>
        	</xf:submission>
        	<xf:submission id="modifiedSubmission" ref="data:json,{id:'dl_selectMenu',key:'infoList',action:'modified'}"
        		target='data:json,[{"id":"dl_selectMenu","key":"infoList"}]' action="/adminfacillity/systemmngt/saveMenu.do"
        		method="post" mediatype="application/json" encoding="UTF-8" mode="asynchronous" processMsg="저장중입니다..." instance="" replace=""
        		errorHandler="" customHandler="">
        		<script type="javascript" ev:event="xforms-submit-done"><![CDATA[
        			fn_search();
        		]]></script>
            </xf:submission>
        </xf:model>
        <script type="javascript"><![CDATA[ 
        /***************************************************************************************
			* 시스템명 		: 식품의약품안전처 통합식품안전망구축
			* 업무명 		: Menu
			* 파일명 		: Menu.xml
			* 작성자 		: 유승엽
			* 작성일 		: 2014.08.20
			*
			* 설  명		: 메뉴 관리 
			*---------------------------------------------------------------------------------------
			* 변경일	변경자		변경내역 
			*---------------------------------------------------------------------------------------
			*  2014.08.20 유승엽	최초 프로그램 작성         
			* 
			*---------------------------------------------------------------------------------------
			****************************************************************************************/
			
			/********************************************************************************************************************/
			/* 01. 공통라이브러리 정의																					*/
			/********************************************************************************************************************/
			
			
			/********************************************************************************************************************/
			/* 02. Form 변수정의																								*/
			/********************************************************************************************************************/
        	var selectBoxValue;
        	
        	/********************************************************************************************************************/
			/* 03. Form 화면 초기화																							*/
			/********************************************************************************************************************/
			gfn_callCommonCode(
				"COM",
				["0001"],
				["dl_systemCode"]
			);
			/********************************************************************************************************************/
			/* 04. 서비스 TRANSACTION 함수(조회,저장,삭제,Callback)																		*/
			/********************************************************************************************************************/
			//조회
			function fn_search(){
				if(gfn_isEmpty(slb_Syscd.getValue())){
					alert("시스템구분을 선택해주시기 바랍니다.");
					return false;
				}
				$w.executeSubmission( "searchSubmission" );
				selectBoxValue = slb_Syscd.getValue();
			}
			
			//저장
			function fn_save(){
				var modifiedData = dl_selectMenu.getModifiedJSON();
				alert("modifiedData =============== " + JSON.stringify(modifiedData));
				$w.executeSubmission("modifiedSubmission");
			}
			
			/**************************************************************************
			 * 05.공통버튼 영역
			***************************************************************************/
        	
        	/**************************************************************************
			 * 06.그리드 행추가, 삭제, 엑셀출력 버튼영역
			***************************************************************************/
        	
        	//노드 추가
        	function fn_addNode(){
        		var selectedIndex = trv_Menu.getSelectedIndex();
        		if(selectedIndex < 0 || selectedIndex == ''){
   					alert('추가할 노드위치를 선택해주세요');
   					return;
   				}
        		var depth = dl_selectMenu.getCellData( selectedIndex -1 , 'depth' );
        		var depthSring = String(parseInt(depth) +1); 
        		var hrnk_menu_cd = dl_selectMenu.getCellData( selectedIndex -1 , 'menu_cd' );
        		var insData = {"depth": depthSring, "sys_cd":selectBoxValue, "menu_nm":"New Node", "hrnk_menu_cd":hrnk_menu_cd};
   				var aobj = JSON.parse( JSON.stringify(insData));
   				dl_selectMenu.setRowJSON( selectedIndex , aobj, false);
   				//trv_Menu.findNodeByIndex( selectedIndex + 1 ).focus();
   				gridView1.setFocusedCell( selectedIndex , "menu_cd" , false );
        	}
        	
        	//노드 삭제
        	function fn_removeNode(){
        		var selectedIndex = trv_Menu.getSelectedIndex();
        		if(selectedIndex < 0 || selectedIndex == ''){
   					alert('삭제할 노드위치를 선택해주세요');
   					return;
   				}
   				var deleteddata = dl_selectMenu.removeRow(selectedIndex - 1);
        	}
        
        	//행삭제
        	function fn_delRow(){
        		try{
	    			var dataListStr = gridView2.getDataList(); // return string type
	    			var dataList = WebSquare.util.getComponentById( dataListStr );
	    			
	    			var chkIndex = dl_selectProgram.getMatchedIndex( "chk" ,1 ,true ,0 ,dl_selectProgram.getRowCount() );
	    			if(chkIndex.length > 0){
		 				for(var i=0; i<chkIndex.length; i++){
		 					dataList.deleteRow( chkIndex[i] );
		 				}
	 				}else{
	 					alert("삭제할 데이터를 체크하십시오.");
	 				}
	 			}catch(e){
	 			}finally{
	 				dataList = null; //메모리 초기화
	 			}
        	}
        	
        	// 엑셀다운로드 (API문서 참고)
			function fn_exportExcel(grdViewObj, options, infoArr) {
			    grdViewObj.advancedExcelDownload(options, infoArr);
			};
			
        	/**************************************************************************
			 * 07. 사용자 정의 함수 구현 영역
			***************************************************************************/
        	
        ]]></script>
    </head>
    <body>
    	<xf:group id="group1" style="" class="contents">
    		<xf:group id="group2" style="" class="titleBar">
    			<w2:textbox id="txb_Title" style="" class="title02" label='&lt;span style="color:#04a8b7"&gt;메뉴&lt;/span&gt; 관리'></w2:textbox>
    			<w2:textbox id="textbox2" style="" class="my" label=""></w2:textbox>
    			<xf:group id="group3" style="" class="pgBox">
    				<xf:group id="grp_PageId" style="" class="title_pgid">
    					<xf:group id="grp_PageIdSub" style="" class="title_pgid_right">
    						<w2:textbox id="Txb_LabelId" style="" class="" label="Page ID : " tagname="span"></w2:textbox>
    						<w2:textbox id="Txb_Id" style="" class="dt" label="GLEUDL396732227JF" tagname="span"></w2:textbox>
    					</xf:group>
    				</xf:group>
    			</xf:group>
    		</xf:group>
    		<xf:group id="group6" style="" class="dtb">
    			<xf:group id="group7" style="" class="dtb_row">
    				<xf:group id="group8" style="" class="dtb_column">
    					<w2:textbox id="txb_Syscd" class="dtb_tt" label="시스템구분"></w2:textbox>
    					<xf:group id="group13" style="" class="iptBox">
    						<xf:select1 id="slb_Syscd" disabledClass="w2selectbox_disabled" appearance="minimal"
    							style="width:124px;height:21px;" direction="auto" chooseOption="true" displayMode="label" class="select" allOption=""
    							submenuSize="auto" disabled="false" ref="data:dm_searchKeyword.sys_cd" chooseOptionLabel="">
    							<xf:choices>
    								<xf:itemset nodeset="data:dl_systemCode">
    									<xf:label ref="fnprt_cd_nm"></xf:label>
    									<xf:value ref="fnprt_cd"></xf:value>
    								</xf:itemset>
    							</xf:choices>
    						</xf:select1>
    					</xf:group>
    					<xf:group id="group9" style="" class="iptBox"></xf:group>
    				</xf:group>
    				<xf:group id="group10" style="" class="dtb_column">
    					<w2:textbox id="textbox6" class="dtb_tt" label="메뉴명"></w2:textbox>
    					<xf:group id="group11" style="" class="iptBox">
    						<xf:input id="input2" style="" class="ipt" ref="data:dm_searchKeyword.menu_nm"></xf:input>
    					</xf:group>
    					<xf:group id="group12" style="" class="df_btn" tagname="">
    						<w2:anchor id="anc_Search" class="anc_trans">
    							<xf:label><![CDATA[조 회]]></xf:label>
    							<script ev:event="onclick" type="javascript"><![CDATA[
    							fn_search(); 
    							]]></script>
    						</w2:anchor>
    					</xf:group>
    				</xf:group>
    			</xf:group>
    		</xf:group>
    		<xf:group id="group14" style="" class="defaultbox">
    			<xf:group id="group15" style="" class="totalbox">
    				<xf:group id="group16" style="" class="total">
    					<xf:group id="group17" style="" class="strong">
    						<w2:textbox id="txb_Count" style="" class="strong_right" label="0" tagname="strong"></w2:textbox>
    					</xf:group>
    				</xf:group>
    				<w2:textbox id="txb_Searched" style="" class="sear" label="건이 조회되었습니다."></w2:textbox>
    				<xf:group id="group18" class="fr">
    					<w2:anchor id="anchor2" style="margin-left:2px;" class="btn_excel">
    						<xf:label><![CDATA[엑셀다운로드]]></xf:label>
    					</w2:anchor>
    				</xf:group>
    				<xf:group id="group28" style="" class="defaultbox">
    					<xf:group id="group29" style="" class="fr">
    						<w2:anchor id="anc_Save" style="" class="anc_trans mr5">
    							<xf:label><![CDATA[저 장]]></xf:label>
    							<script ev:event="onclick" type="javascript"><![CDATA[ 
    							fn_save();
    							]]></script>
    						</w2:anchor>
    						<w2:anchor id="anc_NodeAdd" style="" class="anc_trans mr5">
    							<xf:label><![CDATA[노드추가]]></xf:label>
    							<script ev:event="onclick" type="javascript"><![CDATA[ 
    							fn_addNode();
    							]]></script>
    						</w2:anchor>
    						<w2:anchor id="anc_NodeDelete" style="" class="anc_trans">
    							<xf:label><![CDATA[노드삭제]]></xf:label>
    							<script ev:event="onclick" type="javascript"><![CDATA[ 
    							fn_removeNode();
    							]]></script>
    						</w2:anchor>
    					</xf:group>
    				</xf:group>
    			</xf:group>
    		</xf:group>
    		<xf:group id="group22" style="" class="contLayout06">
    			<xf:group id="group23" style="" class="leftArea">
    				<xf:group id="group25" style="height:439px;left:0px;top:5px;" class="contreeG">
    					<w2:treeview id="trv_Menu" checkAllChildNodes="true" ref="data:dl_selectMenu" dataType="listed" showTreeDepth=""
    						style="left:0px;top:0px;" lineShow="false" class="contree" showCheckbox="" dynamicAppend="true" alwaysDraw="true">
    						<script ev:event="onlabelclick(value,nodeElement,index)" type="javascript"><![CDATA[ 
//    							ipb_MenuId.setValue(dl_selectMenu.getCellData( index -1 , 'menu_cd' ));
//    							ipb_MenuName.setValue(dl_selectMenu.getCellData( index -1 , 'menu_nm' ));
//    							ipb_HrnkMenuCode.setValue(dl_selectMenu.getCellData( index -1 , 'hrnk_menu_cd' ));
//    							ipb_ProgramIdCode.setValue(dl_selectMenu.getCellData( index -1 , 'prgr_cd' ));
//    							ipb_SortOrder.setValue(dl_selectMenu.getCellData( index -1 , 'sort_ord' ));
//    							chk_LowerMenuYn.setValue(dl_selectMenu.getCellData( index -1 , 'lwrk_menu_exst_yn' ));
//    							chk_UseYn.setValue(dl_selectMenu.getCellData( index -1 , 'use_yn' ));
    							gridView1.setFocusedCell( index - 1 , 'menu_cd' , false );
    						]]></script>
    						<w2:itemset nodeset="data:dl_selectMenu">
    							<w2:label ref="menu_nm"></w2:label>
    							<w2:value ref="menu_cd"></w2:value>
    							<w2:depth ref="depth"></w2:depth>
    							<w2:folder ref=""></w2:folder>
    							<w2:checkbox ref=""></w2:checkbox>
    							<w2:checkboxDisabled ref=""></w2:checkboxDisabled>
    							<w2:image ref="/src/main/webapp/websquare/common/images/folder.png"></w2:image>
    							<w2:iconImage ref=""></w2:iconImage>
    							<w2:selectedImage ref="/src/main/webapp/websquare/common/images/folder_files.png"></w2:selectedImage>
    							<w2:expandedImage ref="/src/main/webapp/websquare/common/images/folder_open.png"></w2:expandedImage>
    							<w2:leafImage ref=""></w2:leafImage>
    						</w2:itemset>
    					</w2:treeview>
    				</xf:group>
    			</xf:group>
    			<xf:group id="group24" style="margin-top:5px;" class="rightArea">
    				<table summary="" id="table1" style="" class="w2tb tb">
    					<xf:group tagname="colgroup">
    						<xf:group style="width:25.00%" tagname="col"></xf:group>
    						<xf:group style="width:25.00%" tagname="col"></xf:group>
    						<xf:group style="width:25.00%" tagname="col"></xf:group>
    						<xf:group style="width:25.00%" tagname="col"></xf:group>
    					</xf:group>
    					<xf:group tagname="tr">
    						<xf:group style="" class="w2tb_th th must" tagname="th">메뉴&amp;nbsp;ID</xf:group>
    						<xf:group style="" class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:input id="ipb_MenuId" ref="data:dl_selectMenu.menu_cd" style="" class="ipt"></xf:input>
    						</xf:group>
    					</xf:group>
    					<xf:group style="height:30px;" tagname="tr">
    						<xf:group class="w2tb_th th must" tagname="th">메뉴명</xf:group>
    						<xf:group class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:input id="ipb_MenuName" ref="data:dl_selectMenu.menu_nm" style="" class="ipt"></xf:input>
    						</xf:group>
    					</xf:group>
    					<xf:group style="height:30px;" tagname="tr">
    						<xf:group class="w2tb_th th must" tagname="th">상위메뉴</xf:group>
    						<xf:group style="" class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:input id="ipb_HrnkMenuCode" ref="data:dl_selectMenu.hrnk_menu_cd" invalidMessageFunc="" readOnly="" style="width:110px;" mandatory=""
    								class="ipt" disabled="true" displaymessage="">
    							</xf:input>
    							<w2:textbox id="textbox9" style="margin-left:5px;" class="btnSearch" label="" tagname="a"></w2:textbox>
    							<xf:input id="ipb_HrnkMenuName" readOnly="" style="margin-left:5px;width:120px;" class="ipt" disabled=""></xf:input>
    						</xf:group>
    					</xf:group>
    					<xf:group style="height:30px;" tagname="tr">
    						<xf:group class="w2tb_th th must" tagname="th">프로그램ID</xf:group>
    						<xf:group class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:input id="ipb_ProgramIdCode" ref="data:dl_selectMenu.prgr_cd" invalidMessageFunc="" readOnly="" style="width:110px;" mandatory=""
    								class="ipt" disabled="true" displaymessage="">
    							</xf:input>
    							<w2:textbox id="textbox10" style="margin-left:5px;" class="btnSearch" label="" tagname="a"></w2:textbox>
    							<xf:input id="ipb_ProgramIdName" readOnly="" style="margin-left:5px;width:120px;" class="ipt" disabled=""></xf:input>
    						</xf:group>
    					</xf:group>
    					<xf:group style="height:30px;" tagname="tr">
    						<xf:group class="w2tb_th th must" tagname="th">정렬순서</xf:group>
    						<xf:group class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:input id="ipb_SortOrder" ref="data:dl_selectMenu.sort_ord" style="" class="ipt"></xf:input>
    						</xf:group>
    					</xf:group>
    					<xf:group style="height:30px;" tagname="tr">
    						<xf:group class="w2tb_th th" tagname="th">세부선택</xf:group>
    						<xf:group class="w2tb_td td" tagname="td">
    							<w2:attributes>
    								<w2:colspan>3</w2:colspan>
    								<w2:rowspan>1</w2:rowspan>
    							</w2:attributes>
    							<xf:select id="chk_LowerMenuYn" ref="data:dl_selectMenu.lwrk_menu_exst_yn" cols="" appearance="full" style="" selectedindex="-1"
    								class="checkbox" rows="1">
    								<xf:choices>
    									<xf:item>
    										<xf:label>하위메뉴존재여부</xf:label>
    										<xf:value><![CDATA[Y]]></xf:value>
    									</xf:item>
    								</xf:choices>
    							</xf:select>
    							<xf:select id="chk_UseYn" ref="data:dl_selectMenu.use_yn" cols="" appearance="full" style="" selectedindex="-1" class="checkbox"
    								rows="">
    								<xf:choices>
    									<xf:item>
    										<xf:label>사용여부</xf:label>
    										<xf:value><![CDATA[Y]]></xf:value>
    									</xf:item>
    								</xf:choices>
    							</xf:select>
    						</xf:group>
    					</xf:group>
    				</table>
    			</xf:group>
    		</xf:group>
    		<w2:wframe id="wfm_Common" style="position: relative;width: 0px;height: 0px;" src="/ui/common/frame/commonCodeFrame.xml"></w2:wframe>
    		<w2:gridView autoFit="allColumn" class="cm_grid" dataList="dl_selectMenu" fixedColumnWithHidden="true" id="gridView1"
    			scrollByColumn="false" style="position: relative ;height:380px;visibility:hidden;left:0px;top:5px;" useShiftKey="false" visibleRowNum="15">
    			<w2:header id="header1" style="">
    				<w2:row id="row1" style="">
    					<w2:column blockSelect="false" id="column27" style="height:20px" inputType="text" width="70" value="depth"></w2:column>
    					<w2:column blockSelect="false" id="column25" style="height:20px" inputType="text" width="70" value="시스템_코드"></w2:column>
    					<w2:column blockSelect="false" id="column23" style="height:20px" inputType="text" width="70" value="메뉴_코드"></w2:column>
    					<w2:column blockSelect="false" id="column21" style="height:20px" inputType="text" width="70" value="메뉴_명"></w2:column>
    					<w2:column blockSelect="false" id="column19" style="height:20px" inputType="text" width="70" value="정렬_순서"></w2:column>
    					<w2:column blockSelect="false" id="column17" style="height:20px" inputType="text" width="70" value="상위_메뉴_코드"></w2:column>
    					<w2:column blockSelect="false" id="column15" style="height:20px" inputType="text" width="70" value="하위_메뉴_존재_여부"></w2:column>
    					<w2:column blockSelect="false" id="column13" style="height:20px" inputType="text" width="70" value="업무_구분_코드"></w2:column>
    					<w2:column blockSelect="false" id="column11" style="height:20px" inputType="text" width="70" value="프로그램_코드"></w2:column>
    					<w2:column blockSelect="false" id="column9" style="height:20px" inputType="text" width="70" value="사용_여부"></w2:column>
    					<w2:column blockSelect="false" id="column7" style="height:20px" inputType="text" width="70" value="생성자_아이디"></w2:column>
    					<w2:column blockSelect="false" id="column5" style="height:20px" inputType="text" width="70" value="생성_일시"></w2:column>
    					<w2:column blockSelect="false" id="column3" style="height:20px" inputType="text" width="70" value="최종_수정자_아이디"></w2:column>
    					<w2:column blockSelect="false" id="column1" style="height:20px" width="70" inputType="text" value="최종_수정_일시"></w2:column>
    				</w2:row>
    			</w2:header>
    			<w2:gBody id="gBody1" style="">
    				<w2:row id="row2" style="">
    					<w2:column blockSelect="false" id="depth" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="sys_cd" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="menu_cd" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="menu_nm" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="sort_ord" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="hrnk_menu_cd" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="lwrk_menu_exst_yn" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="work_dvs_cd" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="prgr_cd" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="use_yn" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="cretr_id" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="cret_dtm" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="last_updtr_id" style="height:20px" inputType="text" width="70"></w2:column>
    					<w2:column blockSelect="false" id="last_updt_dtm" style="height:20px" width="70" inputType="text"></w2:column>
    				</w2:row>
    			</w2:gBody>
    		</w2:gridView>
    	</xf:group>
    </body>
</html>
